@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

.selected {
  background: linear-gradient(-60deg, transparent 47.75%, blue 49.5%, blue 50.5%, transparent 52.25%);
}

.non-selected {
  cursor: pointer;
}

.selected,
.non-selected {
  letter-spacing: .2rem;
}

.high-score {
  color: green;
}

.medium-score {
  color: darkgoldenrod
}

.low-score {
  color: red;
}

.emoji {
  font-family: 'Noto Color Emoji', sans-serif;
}